@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'fonts.scss';

html {
    overflow-y: hidden;
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main {
    flex-grow: 1;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}