@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'fonts.scss';

html {
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;

    // blue scroll
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(120, 120, 214);
    }
}

main {
    flex-grow: 1;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex {
    display: flex;
    gap: 25px;
}

.wrap {
    flex-wrap: wrap;
}

.jcsb {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

h1,
h2 {
    text-align: center;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}