.header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    @media (max-width: 767px) {
      display: none;
    }

    &__wrap {
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    a {
      text-wrap: nowrap;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__top {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
